<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cube clicker 404</title>

        <meta charset="utf-8">
        <meta name="author" content="razvanpacku">
        <meta name="description" content="404 page">
        <meta name="keywords" content="404 error">

        <base href=""> 

        <link rel="shortcut icon" href="#">

        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>
    <body class="changelog">
        <header>Cube Clicker</header>
        <nav id="navBar">
            <a href="https://github.com/razvanpacku">GitHub</a>
             <!-- <a href=https://twitter.com/razvanpacku>Twitter</a> -->
        </nav>
        <div id="loginMenu">
            <h1 id="loginTitle">404</h1>
            <div id="formContainer">
                There was a 404 error. This shouldn't happen.
            </div>
        </div>
        <footer><a href="index">Go back</a></footer>
    </body>
</html>