<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cube clicker changelog</title>

        <meta charset="utf-8">
        <meta name="author" content="razvanpacku">
        <meta name="description" content="List of stuff added/changed each version">
        <meta name="keywords" content="changelog">

        <base href=""> 

        <link rel="shortcut icon" href="#">

        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>
    <body class="changelog">
        <header>Cube Clicker</header>
        <nav id="navBar">
            <a href="https://github.com/razvanpacku">GitHub</a>
             <!-- <a href=https://twitter.com/razvanpacku>Twitter</a> -->
        </nav>
        <section id="changelogMenu">
            <h1>Changelog</h1>
            <div id="menuContent">
                <article>
                    <h2>0.1.0</h2>
                    <mark>06.11.2025</mark>
                    <ul>
                        <li>Site source code put on <a href="https://github.com/razvanpacku/Cube-clicker">github</a></li>
                        <li>Added README and license</li>
                    </ul>
                </article>
                <article>
                    <h2>0.0.8</h2>
                    <mark>28.04.2025</mark>
                    <ul>
                        <li>"/" now routes to "/index"</li>
                    </ul>
                </article>
                <article>
                    <h2>0.0.7</h2>
                    <mark>02.06.2024</mark>
                    <ul>
                        <li>Implemented upgrades and achievements</li>
                    </ul>
                </article>
                <article>
                    <h2>0.0.6</h2>
                    <mark>01.06.2024</mark>
                    <ul>
                        <li>Implemented the whole login/logout/auth system</li>
                    </ul>
                </article>
                <article>
                    <h2>0.0.5</h2>
                    <mark>31.05.2024</mark>
                    <ul>
                        <li>Implemented sound and volume slider</li>
                        <li>Implemented some visual features</li>
                    </ul>
                </article>
                <article>
                    <h2>0.0.4</h2>
                    <mark>25.04.2024</mark>
                    <ul>
                        <li>Implemented tips functionality</li>
                        <li>Implemented some responsive elements</li>
                        <li>Started work on upgrades</li>
                    </ul>
                </article>
                <article>
                    <h2>0.0.3</h2>
                    <mark>17.04.2024</mark>
                    <ul>
                        <li>Added changelog page</li>
                        <li>Added saving</li>
                    </ul>
                </article>
                <article>
                    <h2>0.0.2</h2>
                    <mark>14.04.2024</mark>
                    <ul>
                        <li>Added first buyable</li>
                        <li>Implemented basic incremental logic</li>
                        <li>Implemented some menus</li>
                    </ul>
                </article>
                <article>
                    <h2>0.0.1</h2>
                    <mark>11.04.2024</mark>
                    <ul>
                        <li>Development started</li>
                        <li>Implemented cube</li>
                        <li>Implemented main html and css</li>
                    </ul>
                </article>
            </div>
        </section>
        <footer><a href="index">Go back</a></footer>
    </body>
</html>