<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cube clicker login page</title>

        <meta charset="utf-8">
        <meta name="author" content="razvanpacku">
        <meta name="description" content="Page for logging in/out, signing up">
        <meta name="keywords" content="login">

        <base href=""> 

        <link rel="shortcut icon" href="#">

        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>
    <body class="changelog">
        <header>Cube Clicker</header>
        <nav id="navBar">
            <a href="https://github.com/razvanpacku">GitHub</a>
            <a href=https://twitter.com/razvanpacku>Twitter</a>
        </nav>
        <div id="loginMenu">
            <h1 id="loginTitle">Login</h1>
            <div id="formContainer">
                <%-formType%>
            </div>
        </div>
        <footer><a href="index">Go back</a></footer>
    </body>
</html>